@import url("assets/style/fonts.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-weight: normal;
}

.App {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
}

.container {
    max-width: 1005px;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}